SGLANG_OPS_DATABASE_URL=sqlite:///./sglang_ops_stack.db
SGLANG_OPS_APP_NAME=sglang_ops_stack
SGLANG_OPS_ENVIRONMENT=development
SGLANG_OPS_DOCS_ENABLED=true
SGLANG_OPS_LOG_LEVEL=INFO
SGLANG_OPS_LOG_FORMAT=json
SGLANG_OPS_REQUIRE_HTTPS=false
SGLANG_OPS_SECURITY_HEADERS=x-content-type-options,x-frame-options
SGLANG_OPS_SSH_CONNECT_TIMEOUT=10
SGLANG_OPS_SSH_COMMAND_TIMEOUT=30
